.Customer-Page-Wrapper:not(input)
{
    color: white;
    text-align: center;
}

input[type=text]{
    color : black;
}

.Message-Text
{
    padding-top: 50px;
}

.Support-Main-Body
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 100px;
}

.Info-Form
{
    text-align: left;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Contact-Container
{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #C4C4C4;
}
.Contact-Label
{
    background-color: #6D6767;
    max-height: 10%;
}

.Icon-Text-Container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: black;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.Icon-Text-Container > *
{
    margin-top: 15px;
}

.Submit-Button
{
    background-color: #646464;
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
}